{% extends 'base.html' %} {% block content %}
<div id="home-container">
  <h1 id="home-header" align="center">Yummy San 💬</h1>
  {% if error %}
  <p id="error">{{error}}</p>
  {% endif %}
  <form method="post" id="chat-widget-home">
    <div id="name-input">
      <label for="url">URL</label>
      <input type="text" id="url" name="url" placeholder="Enter URL" value="{{url}}" />
    </div>
    <div>
      <label for="query" id="code-label">Question?</label>
      <input type="text" id="query" name="query" placeholder="Enter query" value="{{query}}" />
      <button type="submit" id="submit" name="submit">Submit</button> 
      <!-- TODO: Create a submit buton like ChatGPT -->
    </div>
  </form>
</div>
{% endblock %}